body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

body > * {
    padding-block: 64px;
}

body > div {
    flex: 1 1 auto;
}

/*Header*/
header {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #1F2937;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-inline: min(15vw,240px);
    font-size: 18px;
    color: #E5E7EB;
}

.header-links .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links .right-links {
    display: flex;
    gap: 24px;
}

.header-links ul {
    list-style-type: none;
    margin: 0px;
}

.header-links a {
    color: #F9FAF8;
}
.header-links a:link {text-decoration: none;}
.header-links a:visited {text-decoration: none;}
.header-links a:hover {text-decoration: underline;}
.header-links a:active {text-decoration: underline;}

.header-content {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-inline: min(15vw,240px);
}

.header-content .left-content {
    width: 480px;
    flex: 1 1 auto;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content .left-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 18px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    font-weight: bold;
}

.header-content .left-content h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-block: 0px
}

.header-content .right-content {
    width: 480px;
    flex: 0 1 auto;
}

.header-content .right-content img {
    max-width: 100%;
    height: auto;
}

/*Info-bar*/
.info-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info-bar .card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.info-bar .card-holder .card {
    display: flex;
    flex-direction: column;
}

.info-bar .main-text {
    color: #1F2937;
    font-size: 36px;
}

.info-bar .card-holder .card img,
.info-bar .card-holder .card p {
    width: 150px;
    margin-block: 0px;
    text-align: center;
}

.info-bar .card-holder .card img {
    height: auto;
}

/*Quote-bar*/
.quote-bar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-bar .card {
    display: flex;
    justify-content: center;
}

.quote-bar .quote,
.quote-bar .attribution {
    width: 840px;
    flex: 0 1 auto;
    margin-block: 0px;
}

.quote-bar .quote {
    font-size: 36px;
    font-weight:lighter;
    color:#1F2937;
    font-style: italic;
}

.quote-bar .attribution {
    text-align: right;
}

/*Button-card*/
.button-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-card .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 32px;
    border-radius: 12px;
}

.button-card h4,
.button-card p {
    margin: 0px;
}

.button-card .card button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 18px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    padding: 8px;
}